// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1600px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1360px
// );

// Fix wrapping columns in Safari
.row {
    &:before,
    &:after {
        display: inline-block;
    }
}

.align-self-center {
    align-self: center !important;
}
html{
    overflow-x: clip;
}
body{
    overflow-x: clip !important;
}